
/* BANNERS YESSIR */

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("../../assets/img/home_img/Features/BannerIMG1.webp");
    min-width: 530px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding-left: 30px;
    border: 1px solid darkslategray;
}

#sm-banner h4{
    color: blue;
    font-size: 30px;
    font-weight: 400;
}

#sm-banner h2{
    color: darkblue;
    font-size: 38px;
    font-weight: 800;
    padding-bottom: 10px;
}

#sm-banner span{
    color: black;
    font-size: 19px;
    font-weight: 500;
    padding-bottom: 15px;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: lightblue;
    background-color: blue;
    cursor: pointer;
    border: 1px solid darkblue;
    outline: none;
    transition: 0.2s;
}

#sm-banner .banner-box:hover button{
    background: lightblue  ;
    border: 1px solid lightblue;
    color: darkblue;
}

#sm-banner .banner-box2{
    background-image: url("../../assets/img/home_img/Features/BannerIMG2.0.jpg");
}

#sm-banner .banner-box2 h4{
    color:green;
    font-weight: 800;
    margin-bottom: 255.5px;
    margin-left: 175px;
}

#sm-banner .banner-box2 h2{
    color: lightseagreen;
}

#sm-banner .banner-box2 button.white{
    margin-bottom: 1px;
    background-color: darkgreen;
    color: lightgreen;
    border: 1px solid darkgreen;
}

#sm-banner .banner-box2:hover button.white{
    background: lightgreen  ;
    border: 1px solid lightgreen;
    color: darkgreen;
}
